@font-face{
    font-family: TitleFont;
    src: url("assets/Adore64.ttf") format("truetype");
}

@font-face{
    font-family: MenuFont;
    src: url("assets/pixel.ttf") format("truetype");
}

html{
    height: 100%;
    margin: 0;
}

body{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
    height: 100%;
    margin: 0;
}

.center{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cell{
	width:33.33333333%;
    height:100%;
}

.fade{
	transition: background-color 200ms ease-in-out;
}

.one{
	background-color:#ffc41a;
}

.two{
	background-color:#ff7b0f; left:33.33333333%;
}

.three{
	background-color:#ea4335; left:66.66666666%;
}

.four{
	background-color:#7d4297;
}

.five{
	background-color:#0092ff; left:33.33333333%;
}

.six{
	background-color:#75bd3f; left:66.66666666%;
}

.fade:hover{
	background-color: #333;
}

.logo{
	font-family: TitleFont;
	color: white;
	font-size: 35pt;
    padding: 0;
    margin-top: 0;
    top:10%;
	text-align: center;
}

.menuText{
	font-family: MenuFont;
	color: white;
	font-size: 20pt;
	margin-top: 20%;
	text-align: center;
}

.active{
	color: black !important;
	background-color: white;
	border-radius: 15%;
}

.nav-bar{
	position: absolute;
	top: 5%;
	right: 0;
}

.navbar-text{
	font-family: MenuFont;
	color: white;
	font-size: 15pt;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.navbar-text:hover{
	color: black !important;
	background-color: white;
	border-radius: 15%;
}

.icon{
	display: block;
    padding-top:15%;
	margin: 0 auto;
    -webkit-animation: flyinleftanim 1s ease;
}

@-webkit-keyframes flyinleftanim
{
	0%{
		-webkit-transform: translateY(-100px);
		opacity: 0;
	}       
  100%{
		-webkit-transform: translateY(0px);
		opacity: 1;
	} 
}

hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	width: 90%;
}

.secondary-text{
	font-family: "Serif";
	color: white;
	font-size: 10pt;
	text-align: center;
}

a{
    text-decoration: none;
}

.class-menu{
    position: absolute;
    table-layout: fixed;
    width: 750px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.border{
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 750px;
    top: 40%;
    position: absolute;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.class-menu h2{
    padding-top: 10px;
	font-family: MenuFont;
    text-align: center;
    background-color: white;
    margin: 5%;
    height: 40px;
    font-size:20pt;
	border-radius: 15%;
    cursor: pointer;
}

.selected{
	color: #ff7b0f !important;
    background-color: black !important;
}

.selected[style="color: #7d4297"]{
	color: #7d4297 !important;
    background-color: black !important;
}

.topleft{
    top: -5px;
    bottom: 0;
    left: -5px;
    right: 0;
}

.topcenter{
    top: -5px;
    bottom: 0;
    left: 50%;
    right: 0;
}

.topright{
    top: -5px;
    bottom: 0;
    left: 785px;
    right: 0;
}

.bottomleft{
    top: -moz-calc(100% - 5px); /* Firefox */
    top: -webkit-calc(100% - 5px); /* WebKit */
    top: -o-calc(100% - 5px); /* Opera */
    top: calc(100% - 5px); /* Standard */
    bottom: 0;;
    left: -5px;
    right: 0;
}

.bottomcenter{
    top: -moz-calc(100% - 5px); /* Firefox */
    top: -webkit-calc(100% - 5px); /* WebKit */
    top: -o-calc(100% - 5px); /* Opera */
    top: calc(100% - 5px); /* Standard */
    bottom: 0;;
    left: 50%;
    right: 0;
}

.bottomright{
    top: -moz-calc(100% - 5px); /* Firefox */
    top: -webkit-calc(100% - 5px); /* WebKit */
    top: -o-calc(100% - 5px); /* Opera */
    top: calc(100% - 5px); /* Standard */
    bottom: 0;
    left: 785px;
    right: 0;
}

.box{
    position: absolute;
    height: 10px;
    width: 10px;
    border-color: white;
    background-color: white;
}

#studentsTable hr{
    width: 100%;
}

#studentsTable tr{
    color: white;
    font-family: MenuFont;
}

#scheduleTable tr{
    color: white;
    font-family: MenuFont;
}

.title td{
    color: black;
}

.student-row:hover > td{
    color: gray;
    cursor: pointer;
}

.background{
    z-index:50;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}

.content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    width:600px;
    position:relative;
    border-radius: 15px 15px 0 0;
    animation:animatetop 0.4s;
}

@keyframes animatetop{
    from{top:-300px; opacity:0}
    to{top:0; opacity:1}
}

.colored{
    color: black !important;
    background-color: #ff7b0f !important;
    border-radius: 15px 15px 0 0;
}

#pop-name{
    padding: 10px;
    font-family: MenuFont;
    font-size: 17pt;
}

#hack-tues{
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}

#hack-tues:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}