.events-kanban {
	max-height: calc(100vh - 138px - 16px);
	margin: 16px 15px 0;
}

.events-kanban > .row {
	height: 100%;
}

.event-column {
  border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  margin-right: 16px;
  max-width: 300px;
  min-width: 200px;
	padding: 0;
	background: #fdfbfb;
	height: 100%;
	overflow-y: scroll;
	max-height: calc(100vh - 150px);
}

.card p {
	font-size: 1rem;
}

.event-column > h1 {
	padding: 0 16px;
	height: 40px;
	font-size: 24px;
	font-weight: normal;
	position: sticky;
	top: 0px;
	background-color: #29323c;
	color: #fdfbfb;
	z-index: 1;
	margin: 0;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.event-column .card {
	transition: .2s ease-in-out box-shadow, .2s transform ease-in-out;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	border-radius: 8px;
	border: none;
	cursor: pointer;
	overflow: hidden;
	margin: 0 16px 16px;
	background-color: white;
}

.card > img {
	padding: 16px;
	height: 268px;
}

.event-column .card:first-of-type {
	margin-top: 16px;
}

.event-column .card:hover {
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
	transform: scale(1.02);
	/* z-index: 2; */
}

