body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #29323c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.view-container { 
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.21), 0 5px 15px 0 rgba(0,0,0,0.28);
  transition: transform ease .3s;
  will-change: transform;
  padding: 64px 16px 16px;
  display: flex;
  flex-flow: column;
}

.view-container > h1 {
  font-size: 3rem;
  border-bottom: 1px solid #00000012;
  margin: 0;
}

.view-container > svg {
  position: fixed;
  top: 16px;
  left: 16px;
  fill: #29323c;
  cursor: pointer;
}
