div[class^="col"]{
	border: 0px solid black;
}

.container{
	background-color: lightgray;
	border-radius: 15px;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: left;
}

h4{
	text-align: center;
}

h5{
	text-align: center;
}

h6{
	text-align: center;
}