.human-entry {
	display: flex;
	padding: 16px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.human-entry > img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-bottom: 16px;
}

.human-entry > .row {
	align-items: center;
	margin: 0;
}

.human-entry h6 {
	margin: 0;
}

.label {
	background-color: #FFA99F;
	border-radius: 4px;
	padding: 0 4px;
	text-transform: uppercase;
	margin-left: 4px;
	font-size: 1rem;
	font-weight: bold;
}

.label + .label {
	background-color: #FFE29F;
}