.navbar{
	margin: 0px -15px 0px -15px;
	z-index: 100;
}

.navbar-button{
	text-decoration: none;
	font-size: 14pt;
	position: relative;
	color: #9A9A9A;
	font-weight: bold;
	margin-top: -8px;
	height: 56px;
}

.navbar-button {
	width: 33.33333%;
	text-align: center;
	padding: 10px;
	border-radius: 1px; 
	background-color: rgba(107,54,62,0.1);
	transition: all 0.15s ease;
	background-size: 100% 200%; 
	background-position: 0 -100%; 
	background-image: linear-gradient(to top, transparent 50%, #334562 50%);
}

.navbar-button.selected {
	color: #334562;
	border-bottom: 5px solid #334562;
}

.navbar-button:hover {
	color: #fff;
	background-position: 0 0;
	text-decoration: none;
}