nav {
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: flex;
	transition: transform ease-out .4s;
	will-change: transform;
	transform: translateX(-80px);
	background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

nav > div {
	margin-top: 100px;
	width: 300px;
	display: flex;
	flex-flow: column;
}

nav.open {
	transform: translateX(0);
}

nav.open + .view-container {
	transform: translateX(300px);
}

.navbar-button {
	text-decoration: none;
	font-size: 16pt;
	color: #6b7682;
	height: 48px;
	border-radius: 0 28px 28px 0;
	padding-left: 32px;
	display: flex;
	align-items: center;
	margin-right: 32px;
	transition: color .3s ease, background-color ease .3s;
	cursor: pointer;
}

.navbar-button:not(:last-of-type) {
	margin-bottom: 8px;
}

.navbar-button.selected {
	color: #29323c;
	background-color: #ffffff82;
}

.navbar-button:hover {
	color: #29323c;
	text-decoration: none;
	background-color: #ffffff54;
}