nav {
	height: 100vh;
	width: calc(100vw + 160px);
	position: fixed;
	display: flex;
	transition: transform ease .4s;
	will-change: transform;
	transform: translateX(-320px);
	cursor: pointer;
	/* filter: brightness(0.8); */
}

nav > .menu {
	margin-top: 70px;
	width: 240px;
	display: flex;
	flex-flow: column;
	mix-blend-mode: multiply;
	transition: opacity .4s ease;
	will-change: opacity;
	opacity: 0.6;
}

nav.open {
	/* filter: brightness(1); */
	transform: translateX(0);
}

nav.open > .menu {
	opacity: 1;
}

nav.open + .view-container {
	transform: translateX(240px);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.navbar-button {
	text-decoration: none;
	font-size: 14pt;
	height: 48px;
	border-radius: 0 28px 28px 0;
	padding-left: 16px;
	display: flex;
	align-items: center;
	/* margin-right: -32px; */
	transition: color .3s ease, background-color ease .3s;
	cursor: pointer;
	color: #29323c;
}

.navbar-button:not(:last-of-type) {
	/* margin-bottom: 8px; */
}

.navbar-button.selected {
	color: white;
	background-color: #29323c;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.navbar-button:hover {
	color: white;
	text-decoration: none;
	background-color: #29323cd6;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(140vw + 160px);
	height: 100vh;
	opacity: 0;
	transition: opacity 1s ease;
	will-change: opacity;
	z-index: -1;
	animation: AnimationName 16s ease infinite;
	background-size: 200% 200%;
}

.bg.visible {
	opacity: 1;
}

.events-bg {
	background-image: linear-gradient(16deg, #ff9a9e 0%, #fecfef 100%);
}

.people-bg {
	background-image: linear-gradient(16deg, #84fab0 0%, #8fd3f4 100%);
}

.rooms-bg {
	background-image: linear-gradient(16deg, #f6d365 0%, #fda085 100%);
}

@media screen and (max-width: 420px) {
	nav > .menu {
		width: 100vw;
	}

	nav {
		transform: translateX(calc((100vw + 80px) * -1));
	}

	nav.open + .view-container {
		transform: translateX(calc(100vw - 48px));
	}

	.navbar-button {
		margin-right: 48px;
	}
}


@keyframes AnimationName { 
  0% {
		background-position: 0%;
	}
  50% {
		background-position: 100%;
	}
  100% {
		background-position: 0%;
	}
}
