nav {
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: flex;
	transition: transform ease .3s, filter ease .3s;
	will-change: transform;
	transform: translateX(-80px);
	/* filter: brightness(0.8); */
}

nav > .menu {
	margin-top: 70px;
	width: 300px;
	display: flex;
	flex-flow: column;
	opacity: 0;
	will-change: opacity;
	transition: opacity ease .3s;
}

nav.open {
	/* filter: brightness(1); */
	transform: translateX(0);
}

nav.open > .menu {
	opacity: 1;
}

nav.open + .view-container {
	transform: translateX(300px);
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.21), 0 5px 15px 0 rgba(0,0,0,0.28);
}

.navbar-button {
	text-decoration: none;
	font-size: 14pt;
	color: #4c5058;
	height: 48px;
	border-radius: 0 28px 28px 0;
	padding-left: 16px;
	display: flex;
	align-items: center;
	margin-right: 32px;
	transition: color .3s ease, background-color ease .3s;
	cursor: pointer;
}

.navbar-button:not(:last-of-type) {
	/* margin-bottom: 8px; */
}

.navbar-button.selected {
	color: #29323c;
	background-color: #ffffff62;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.navbar-button:hover {
	color: #4c5058;
	text-decoration: none;
	background-color: #ffffff34;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity 1s ease;
	will-change: opacity;
	z-index: -1;
}

.bg.visible {
	opacity: 1;
}

.events-bg {
	background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.people-bg {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.rooms-bg {
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}