.group {
  border-radius: 8px;
  border: 1px solid #00000012;
  background: #fdfbfb;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 192px;
  height: 192px;
  box-shadow: none;
  transition: .4s ease box-shadow, .4s ease transform;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 16px;
}

.group > h4, .person > h4 {
  margin: 0;
}

.group:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  transform: scale(1.02);
}

.group > img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.person {
  cursor: pointer;
  padding: 16px;
  padding-left: 0;
  transition: .3s background ease;
  display: flex;
  align-items: center;
}

.person:hover {
  background-color: #fdfbfb78;
}

.person:not(:last-child) {
  border-bottom: 1px solid #00000012;
}

.person > img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.view-container label {
  margin: 0;
  margin-top: 16px;
}

.view-container > label + .col {
  padding: 0;
}

.person-selected {
  text-decoration: underline;
}